@model WebStore.BusinessLogic.Cart

@{
    ViewData["Title"] = "Корзина";
}

<h1>@ViewData["Title"]</h1>

<div>
    <hr />
    <table class=" table table-hover text-white">
        <thead>
            <tr>
                <th>Название</th>
                <th>Цена</th>
                <th>Количество</th>
                <th>Стоимость</th>
                <td></td>
            </tr>
        </thead>
        <tbody>
            @foreach (var record in Model.Records)
            {
            <tr>
                <td>@record.Product.Name</td>
                <td>@record.Product.Price</td>
                <td>@record.Quantity</td>
                <td>@record.Cost</td>
                <td>
                    <div class="btn-group btn-group-sm">
                        <form asp-action="AddToCart"
                              asp-controller="Cart"
                              method="post">
                            <input type="hidden"
                                   name="Id"
                                   value="@record.Product.Id"/>
                            <input type="hidden"
                                   name="returnUrl"
                                   value="@Model.ReturUrl"/>
                            <button type="submit" class="btn btn-outline-success">+</button>
                        </form>
                        <form asp-action="RemoveFromCart"
                              asp-controller="Cart"
                              method="post">
                            <input type="hidden"
                                   name="Id"
                                   value="@record.Product.Id"/>
                            <input type="hidden"
                                   name="returnUrl"
                                   value="@Model.ReturUrl"/>
                            <button type="submit" class="btn btn-outline-success">-</button>
                        </form>
                    </div>
                    
                </td>
            </tr>
            }
        </tbody>
    </table>
    <dl class="row">
        <dt class = "col-sm-2">
            Общая стоимость
        </dt>
        <dd class = "col-sm-8">
            @Html.DisplayFor(model => model.TotalCost)
        </dd>
    </dl>
    <div>
        <form asp-controller="Cart"
              method="post">
            <input type="hidden"
                   name="returnUrl"
                   value="@Model.ReturUrl" />
            <button type="submit" class="btn btn-primary">Совершить покупку</button>
        </form>
        <form asp-action="ClearCart"
              asp-controller="Cart"
              method="post">
            <input type="hidden"
                   name="returnUrl"
                   value="@Model.ReturUrl" />
            <button type="submit" class="btn btn-primary">Очистить корзину</button>
        </form>
    </div>
</div>
<div>
    <a asp-action="ProductsView" asp-controller="Product">Назад</a>
</div>
